* {
    box-sizing: border-box;
}

::-webkit-scrollbar { /* Invisible Scrollbar for Chrome, Firefox, and Safari */
    display: none;
}

html, body{
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
    background-color: #8DB433;

}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(156, 156, 156), rgb(61, 61, 61)), url(img/pic_header.jpg);
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
}

#header-texts {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    transform: translate(-2vh, 1vw);
    padding: 2vw;
    font-size: 3.5vh;
}

#header-texts h1,
#header-texts h2 {
    color: #ffffff;
    font-family: "Open Sans Condensed";
    font-weight: 700;   
    letter-spacing: 1px;
    margin: 1vh;
}

#header-logo {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
    transform: translate(2vh, 1vw);
    padding: 2vw;
    height: 30%;
}

#navbar {
    position: relative;
}

.navbar-span ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: right;
    padding: 0;
    margin: 0;
}

.navbar-span li{
padding: 1vh 5vh;
color: #ffffff;
font-family: "Open Sans Condensed";
font-size: 3.5vh;
font-weight: 700;
line-height: 65px;
text-align: center;
letter-spacing: 1px;
}

.navbar-span a {
    text-decoration: none;
    color: white;
}

#deskripsi-mesjid,
#aktivitas-mesjid,
#container-flex,
#website-footer,
.subbab {
    background-color: #8DB433;
    padding: 0;
    margin: 0;
}

#deskripsi-mesjid p {
color: #ffffff;
font-family: "Open Sans Condensed";
font-size: initial;
font-weight: 700;
letter-spacing: 1px;
width: 300px;
height: 300px;
padding: 0;
margin: 0;
text-align: justify;
}

.website-deskripsi{
    display: flex;
    flex-direction: row;
    padding: 7% 4%;
    justify-content: space-evenly;
}

.website-deskripsi img {
    object-fit: cover;
}

#aktivitas-mesjid{
    padding: 2%;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #6f9419;
    border-radius: 20px;
}

#aktivitas-mesjid img{
    object-fit: cover;
}

.subbab {
color: #ffffff;
font-family: "Open Sans Condensed";
font-size: 5vh;
font-weight: 700;
text-align: center;
letter-spacing: 1px;
margin: 0;
}

.container-flex{
    background-color: inherit;
    padding: 2%;
    display: inherit;
    flex-direction: inherit;
    align-content: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
}

.website-imagesandcaption{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2% 0;
}


.website-imagesandcaption p {
    width: 55%;
    height: auto;
    color: #ffffff;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 2% 0;
}

.website-imagesandcaption img {
    margin: 0 auto;
    border-radius: 20px;
    object-fit: cover;
}

#website-footer {
    display: flex;
}

.footer-flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #4c6c01;
    justify-content: space-between;
    padding: 2% 5%;
}

#footer-desc {
width: 30%;
color: #ffffff;
font-family: "Open Sans Condensed";
font-size: 3vh;
font-weight: 700;
text-align: left;
align-self: center;

}

#footer-contacts {
    width: 30%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

#footer-contacts img {
    align-self: center;
    width: 50%;
}

#footer-contacts span{
    display: flex;
    color: #ffffff;
    font-family: "Open Sans Condensed";
    font-size: inherit;
    font-weight: 700;
    padding: 2% 0;
    margin: 0 auto;
}

#footer-contacts span div {
    margin: auto 0;
}

#footer-contacts i {
    font-size: 28px;
    font-weight: 100;
}
